body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#todo-form {
    margin-bottom: 10px;
}

#todo-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 10px;
    border: 1px solid #5c67f2;
    background-color: #5c67f2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#todo-list li:last-child{
    border-bottom: none;
}